NiFi_Flow.json
{"flowContents":{"identifier":"44f307f9-6226-3671-a7e3-91f529ecc8fa","instanceIdentifier":"375420a0-019e-1000-7fa2-492ae8e76217","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ee8d6709-e935-3f46-8120-219ab514777e","instanceIdentifier":"37590299-019e-1000-a2f8-ba036d804ec7","name":"PutMongoRecord","comments":"","position":{"x":433.0,"y":-100.0},"type":"org.apache.nifi.processors.mongodb.PutMongoRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.9.0"},"properties":{"Batch Size":"100","Update Key Fields":null,"Ordered":"False","Update Mode":"one","Mongo Collection Name":"raw_data","Record Reader":"8594780e-3976-3a3f-8cc7-138d1455917b","Mongo Database Name":"smartfridge","Client Service":"08bf020d-6031-3a00-92fc-3dc1238f789b","Bypass Validation":"False"},"propertyDescriptors":{"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Key Fields":{"name":"Update Key Fields","displayName":"Update Key Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ordered":{"name":"Ordered","displayName":"Ordered","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Mode":{"name":"Update Mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Service":{"name":"Client Service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bypass Validation":{"name":"Bypass Validation","displayName":"Bypass Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f307f9-6226-3671-a7e3-91f529ecc8fa"},{"identifier":"032f47e1-6ce4-3705-bcae-59fd420b666f","instanceIdentifier":"37558173-019e-1000-aa86-36f18ed7d0bb","name":"GetFile","comments":"","position":{"x":-353.0,"y":-186.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"30 sec","Input Directory":"/data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f307f9-6226-3671-a7e3-91f529ecc8fa"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cb5f00b0-292c-301b-923f-c0d808c318a7","instanceIdentifier":"375a9294-019e-1000-1ba0-ba5e695a902b","name":"","source":{"id":"032f47e1-6ce4-3705-bcae-59fd420b666f","type":"PROCESSOR","groupId":"44f307f9-6226-3671-a7e3-91f529ecc8fa","name":"GetFile","comments":"","instanceIdentifier":"37558173-019e-1000-aa86-36f18ed7d0bb"},"destination":{"id":"ee8d6709-e935-3f46-8120-219ab514777e","type":"PROCESSOR","groupId":"44f307f9-6226-3671-a7e3-91f529ecc8fa","name":"PutMongoRecord","comments":"","instanceIdentifier":"37590299-019e-1000-a2f8-ba036d804ec7"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f307f9-6226-3671-a7e3-91f529ecc8fa"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"08bf020d-6031-3a00-92fc-3dc1238f789b","instanceIdentifier":"3759f646-019e-1000-d847-9ef1bf79519d","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.9.0"},"properties":{"SSL Context Service":null,"Mongo URI":"mongodb://host.docker.internal:27017","Database User":null,"Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"44f307f9-6226-3671-a7e3-91f529ecc8fa"},{"identifier":"8594780e-3976-3a3f-8cc7-138d1455917b","instanceIdentifier":"37599448-019e-1000-1a28-4097ab756884","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"44f307f9-6226-3671-a7e3-91f529ecc8fa"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}